@charset "UTF-8";

body{
        font-family: 'Roboto', sans-serif;
        font-size:1.3rem;
        line-height:1.2;
        background-color:#ffffff;
        padding:10px;
    }


h1 {
        font-size:2.5rem;
        font-family: 'Roboto', sans-serif;
    }
	
	
/*MOBILE DISPLAY*/
@media (max-width:959px){

    .js .menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}

    body{
        line-height:1.2;
    }

    p{
        font-size:.85em;
    }

    h1{
        font-size:1.5rem;
        line-height:.5;
    }

    h3{
        font-size:1.2rem;
    }

    p, h1, h2, h3{
        padding-left:6px;
        font-weight:100;
    }

    section{
        background-color:#313a47;
        color:#d8e7ff;
        padding-top:5px;
        padding-bottom:5px;
        width:100%;
    }
    
    a{
        text-decoration:underline;
    }
	
    a:visited{
        color:#ffffff;

    }

	/*
    .menu{
        list-style:none;
        margin-left:5px;
        float:left;
        width:100%;
        background-color:#ffffff;
    }
    
    .menu li{
        position:relative;
        width:100%;
        margin-left:-40px;
    }
    
    .menu a{
        font-size:1.1rem;
        display:block;
        width:96%;
        margin-left:-5px;
        padding:6px;
        color:#000000;
        background:#ffffff;
        text-decoration:none;
        border-bottom:thin solid black;
    }
    
    .menu a:hover{
        text-decoration:none;
    }
    
    alter submenus in mobile devices

    .menu ul{
        display:none;
    }

    .menu ul li{
        float:none;
        margin-left:-30px;
    }

    .menu ul a{
        white-space:nowrap;
    }

    .menu li:hover ul{
        display:block;
        list-style:none;
        position:absolute;
        z-index:1;
        width:100%;
    }

    .menu li:hover a{
        text-decoration:none;
        background-color:#e5e8e7;
    }

    .menu li:hover ul a{
        text-decoration:none;
        margin-left:-15px;
    }
    
    .menu li:hover ul li a:hover{
        background-color:#ffd859;
    } */
}
	
	
/*LARGE DISPLAY*/
@media (min-width:960px){
    
    .js .slicknav_menu {
        display:none;
    }

    p, h1, h2, h3{
        padding-left:10px;
    }

    section{
        width:100%;
        background-color:#4d5a6d;
        color:#add8e6; 
        padding-top:1px;
        padding-bottom:30px;
        margin-top:20px;
    }

    footer{
        padding-top:25px;
        line-height:.5;
    }

    .menu{
        color:#4d5a6d;
        list-style:none;
        margin-bottom:60px;
        margin-left:-55px;
        float:left;
        width:100%;
        padding:8px 53px 8px 18px;
        background-color:#ffffff;
    }

    .menu li{
        font-size:1.1rem;
        float:left;
        margin-right:45px;
        margin-left:45px;
        margin-top:5px;
        position:relative;
    }

    .menu a{
        display:block;
        background-color:#ffffff;
        color:#4d5a6d;
        text-decoration:none;

    }

    .menu ul{
        display:none;
        padding:3px 3px 3px 3px;
    }

    .menu ul li{
        float:none;
        margin-left:-25px;
    }

    .menu ul a{
        white-space:nowrap;
    }

    .menu li:hover ul{
        display:block;
        list-style:none;
        position:absolute;
    }

    .menu li:hover a{
        text-decoration:none;
        background-color:#e5e8e7;
    }

    .menu li:hover ul a{
        text-decoration:none;
        margin-left:20px;
        padding:3px 15px 3px 5px;
    }
    
    .menu li:hover ul li a:hover{
        background-color:#ffd859;
    }
}